<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6 m-auto">
      <h2 class="default-color text-center">Generate Taggings</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
